.container{
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px #d9d9d9;
    box-shadow: 0 0 5px #d9d9d9;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.calculator-header{
    text-align: center;
}
.calculator-status{
    height: 2em;
}
.calculator-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}
.currency-wrapper{
    margin-left: 10px;
}
select{
    width: 150px;
}
.calculator-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    margin: 10px;
    padding: 10px;
    background: green;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
.calculator-result{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}